@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
    .header-container{
        @apply flex-center fixed w-full bg-green-800 justify-between py-2;
    }
    .flex-center{
        @apply flex items-center;
    }
  }

